beautifulsoup4==4.3.2
gnureadline==6.3.3
ipython==2.1.0
joblib==0.8.2
matplotlib==1.3.1
nose==1.3.3
numpy==1.8.1
pandas==0.14.1
prettytable==0.7.2
pyparsing==2.0.2
python-dateutil==2.2
pytz==2014.4
scikit-learn==0.15-git
scipy==0.14.0
six==1.7.3
skll==0.26.0
tornado==3.2.2
